{% extends "base.html" %}
{% block body %}
<div class="container py-3">
    <h1>Extratos</h1>
    <hr>
    <h2>Enviados</h2>
    {% for extrato in extratos_env %}
    <div class="row border rounded mt-4 p-3">
        <div class="col col-3">
            <img src="{{lista_usuarios.query.filter_by(email = extrato.rec_email).first().foto}}" alt="foto de perfil"
              class="rounded-circle img-fluid" style="width: 150px;">
        </div>
        <div class="col col-9">
            <h3>Para: {{ extrato.rec_email }}</h3>
            <p>Data e hora : {{extrato.env_data}}</p>
            <p>Valor: R$ {{ extrato.env_valor }}</p>
        </div>
    </div>
    {% endfor %}
    
    <hr>
    <h1>Recebidos</h1>
    {% for extrato in extratos_rec %}
    <div class="row border rounded mt-4 p-3">
        <div class="col col-3">
            {% if extrato.env_email == "Bank Legra"%}
            <img src="{{url_for('static',filename='logo.jpg')}}" alt="foto do banco"
              class="rounded-circle img-fluid" style="width: 150px;">
            {% else %}
            <img src="{{lista_usuarios.query.filter_by(email = extrato.env_email).first().foto}}" alt="foto de perfil"
              class="rounded-circle img-fluid" style="width: 150px;">
            {% endif %}
        </div>
        <div class="col col-9">
            <h3>De: {{ extrato.env_email }}</h3>
            <p>Data e hora : {{extrato.env_data}}</p>
            <p>Valor: R$ {{ extrato.env_valor}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}