{% extends "base.html" %}
{% block body %}
<div class="container py-3">
    <p>Bem-vindo ao Banco Legra, o seu destino único para todas as suas necessidades financeiras e de compras! Nosso sistema inovador combina a conveniência e segurança de um banco completo com a variedade e praticidade de um site de compras online.</p>
    <p>Com o Banco Legra, você pode gerenciar suas finanças, fazer pagamentos, transferências e investimentos, tudo em um só lugar. Além disso, oferecemos uma ampla gama de produtos e serviços, desde eletrônicos até moda, para que você possa encontrar tudo o que precisa sem sair de casa.</p>
    <p>Explore o Banco Legra hoje mesmo e descubra como podemos tornar a sua vida financeira mais simples, segura e conveniente. Junte-se a nós e faça parte da revolução bancária e de compras online com o Banco Legra!</p>
</div>
{% endblock %}